@charset "utf-8";
h1 {
    color: #17C9BB;
}
highlight {
}
p {
}

h2 {
    color: #DC1CD5;
}
a {
    color: #0CAC14;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    text-decoration: none;
}
#container {
    width: 1024px;
    background-color: #FBFAFB;
    margin-right: auto;
    margin-left: auto;
    height: auto;

}

#heading  {
    width: 1024px;
    background-color: #F8F8F8;
}
#nav {
    width: 1024px;
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    float: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#image {
    width: 324px;
    height: 400px;
    float: right;
    background-color: #FDFDFD;
}
#text {
    width: 640px;
    float: left;
    background-color: #FCFCFC;
    min-height: 300px;
    padding-left: 40px;
    padding-right: 20px;
}
body {
    background-color: #326ACC;
}



#footer {
    width: 984px;
    clear: both;
    background-color: #FCFCFC;
    padding-left: 40px;
}
#nav ul {
    list-style-type: none;
    float: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;


}



#nav a {
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    list-style-type: none;
    list-style-image: none;
    background-color: #AB1417;
    display: block;
    padding-left: 20px;
}
nav a:hover  {
    background-color: #228FE8;
}
#nav li {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    float: none;


}
#nav ul ul {
    display: none;
    position: absolute;
}
#nav ul li:hover>ul  {
    display: block;
}
#nav ul ul li {
    float: none;
}
